* {
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: black;
}
#video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Esto asegura que el contenedor ocupe toda la altura de la ventana */
  text-align: center; /* Centra el texto dentro del h1 */
}
iframe {
  width: 100%; /* Ajusta el ancho del iframe al 100% del contenedor */
  height: 500px; /* Establece una altura específica para el iframe (ajústala según tus necesidades) */
}